:root {
    --font-kanit: 'Kanit', sans-serif;
    --btn-color: #00c1ba;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font-kanit);
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
}

header {
    font-family: var(--font-kanit);
    padding: 8px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

header nav figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

header nav figure img {
    width: 40px;
}

header nav figure p {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-menu-mobile {
    background-image: url("../img/menu.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
}


nav ul {
    display: none;
}

.text-header {
    display: none;
}

.text-header h2 {
    margin-bottom: 24px;
}

.text-header p {
    margin-bottom: 16px;
}

.text-header a {
    background-color: var(--btn-color);
    padding: 8px 16px;
    border-radius: 35px;
    font-size: 1rem;
    color: white;
}

.pokemons-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 16px;
}

.pokemons-search p {
    font-size: 2.5rem;
    line-height: normal;
}

.pokemons-search input[type="text"] {
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: solid 2px #787878;
    text-align: center;
}

.pokemons-search input[type="submit"] {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    color: white;
    border: solid 2px #8c8b8b;
    background: rgb(8, 148, 189);
    background: linear-gradient(90deg, rgba(8, 148, 189, 1) 0%, rgba(86, 157, 143, 1) 100%);
}
/* ---- HISTORY ---- */

/* ----- POKEMONS ----- */

.pokemons-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 24px 0px;
}

.card-pokemon {
    width: 200px;
    height: 250px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px #D1D1D1;
    border: solid 2px #E8E7E7;
    border-radius: 25px;
}
.card-pokemon figure {
    background: radial-gradient(circle, rgba(86, 157, 143, 1) 29%, rgba(8, 148, 189, 1) 100%);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 8px;
}

.card-pokemon img {
    width: 115%;
}
.btnAddFav {
    background: linear-gradient(90deg, rgba(8, 148, 189, 1) 0%, rgba(86, 157, 143, 1) 100%); 
    border: none;
    color: white;
    font-weight: 700;
    width: 120px;
    height:40px;
    border-radius: 25px;
    cursor: pointer;
}
.btnRemove {
    background: white;
    border: solid 2px rgba(8, 148, 189, 1);
    color: red;
    font-weight: 700;
    width: 120px;
    height:40px;
    border-radius: 25px;
    cursor: pointer;
    content: "asd";
}

.card-pokemon p {
    font-weight: 400;
    text-transform: capitalize;
}
.card-pokemon-name {
    font-size: 1.75rem;
    line-height: 30px;
}


/* ----- MY FAVS ----- */

.title-my-favs {
    text-align: center;
}

/* ----MENU MOBILE---- */

.menu-mobile {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    font-family: var(--font-kanit);
    font-weight: 600;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}
.menu-mobile figure {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.menu-mobile figure img {
    width: 20%;
}
.menu-mobile ul {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.menu-mobile-hidden {
    display: unset;
}